@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, black, #1a1a1a, black);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
    --background: #080221;
}

.university-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.university-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9f9;
}

.university-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.university-info {
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
}

.pagination button.active {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .university-list {
    grid-template-columns: 1fr;
  }
}
